header {
    width: 100%;
    position: inherit;
}

.main_header {
    background-color: rgb(255, 196, 0);
    position: relative;
}

.main_sidebar_icon {
    position: absolute;
    left: 10px;
    line-height: inherit;
    display: none;
}

.main_sidebar_icon div {
    width: 25px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
}

.main_content {
    width: 80%;
    margin: auto;
    /* background-color:red; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.main_title {
    font-size: 14px;
}

.main_title span {
    font-size: 20px;
    margin-right: 10px;
    color: white;
}

.main_icons {
    display: flex;
    justify-content: space-between;
}

.main_icons span {
    margin: 0 2px;
    font-size: 25px;
}

.main_icons span:hover {
    color: white;
}

@media only screen and (max-width:560px) {
    .main_sidebar_icon {
        display: block;
    }

    .main_content {
        justify-content: center;
    }

    .main_icons {
        display: none;
    }

    .main_header {
        position: fixed;
        width: 100%;
    }

}

.sub_header {
    background-color: rgb(196, 196, 196);
}

.sub_content {
    width: 80%;
    margin: auto;
    /* background-color:red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub_options ul {
    list-style-type: none;
}

.sub_options ul li {
    float: left;
    font-size: 15px;
    margin: 0 10px;
    padding: 10px 0;
    font-weight: bold;
}

.sub_options ul li a {
    padding: 10px;
}

.sub_options a:hover,
.sub_contact a:hover {
    background-color: rgb(173, 173, 173);
    color: rgb(255, 200, 20);
}

.sub_contact a {
    padding: 10px;
}

.sub_contact {
    font-weight: bold;
    padding: 10px;
}
.sub_icons {
    display: none;
}


@media only screen and  (max-width:560px) {

    .sub_header {
        height: 100vh;
        width: 80vh;
        position: fixed;
        top: 50px;
    }

    .sub_header_show {
        display: none;
    }

    .sub_content {
        display: block;
        padding: 10px;
        width: 100%;
        text-align: center;

    }

    .sub_options ul li {
        float: none;
        padding: 10px;
    }

    .sub_options ul li a {
        padding: 0;
    }

    .sub_contact {
        padding: 10px;
    }

    .sub_icons {
        display: block;
    }

    .sub_icons span {
        font-size: 20px;
    }

}

@media only  screen and (min-width: 561px) and (max-width:740px) {
    .sub_options ul li {
        margin: 0;
        padding: 10px 0;
    }
    
    .sub_options ul li a {
        padding: 5px;
    }
}

main {
    width: 100%;
}

.body_image figure {
    position: relative;
    padding-bottom: 30%;
}

.body_image img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.container {
    background-color: red;
    width: 80%;
    margin: auto auto 10px auto;
    margin-top: 10px;
    background-color: #eee;
    font-size: 0;
}

.body_services {
    font-size: 0;
    width: 100%;
}

.body_services .card {
    display: inline-block;
    width: 33.33%;
    margin-top: 30px;
    padding: 20px;
}

.card .card_icon {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 209, 5);
    border-radius: 50%;
    text-align: center;
    margin: auto auto 30px auto;
}

.card_icon span {
    line-height: 100px;
    font-size: 40px;
    color: white;
}

.card_title h2 {
    text-align: center;
    margin-bottom: 10px;
}

.card_description {
    padding: 10px;
    margin-bottom: 20px;
}

.card_description p {
    font-size: 15px;
    color: grey;
    text-align: justify;
    line-height: 1.5em;
}

.card_button {
    text-align: center;
}

.card_button a {
    display: inline-block;
    font-size: 15px;
    color: rgb(255, 209, 5);
    border: 2px solid rgb(255, 209, 5);
    padding: 10px;
    font-weight: bold;
}

.card_button a:hover {
    color: rgb(245, 49, 49);
    border: 2px solid rgb(245, 49, 49);
}

@media only screen and (min-width: 561px) and (max-width: 900px) {
    .body_services .card {
        width: 50%;
    }
}

.footer_options {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
}

.footer_options ul {
    display: flex;
    list-style-type: none;
}

.footer_options li {
    padding: 10px;
    margin: 0 10px;
}

.footer_options a {
    color: white;
    font-size: 13px;
}

.footer_options a:hover {
    text-decoration: underline;
}

.footer_copyrights {
    padding: 20px 0 30px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.footer_copyrights a,
.footer_copyrights p {
    color: white;
    font-size: 13px;
}


@media only screen and (max-width:560px) {
    main {
        margin-top: 50px;
    }
    .body_services .card {
        width: 100%;
    }
    figure img {
        z-index: -1;
    }
    .footer_options ul {
        text-align: center;
        flex-direction: column;
    }
}