* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Merriweather', serif;
}

body {
    position: relative;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 12px;
}

a {
    color: black;
    text-decoration: none;
}